@model ProjetoWeb.Models.Pessoa


<h2>teste</h2>


@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações</legend>
      
      <div>
         @Html.LabelFor(x => x.Codigo)
      </div>
      <div>
         @Html.EditorFor(x => x.Codigo)
      </div>

      <div>
         @Html.LabelFor(x => x.Nome)
      </div>
      <div>
       @Html.EditorFor(x => x.Nome)
      </div>

      <div>
        @Html.LabelFor(x => x.Rg)
      </div>

      <div>
        @Html.EditorFor(x => x.Rg) 
      </div>

      <div>
        @Html.LabelFor(x => x.Cpf)
      </div>

      <div>
        @Html.EditorFor(x => x.Cpf)
      </div>

      <div>
        @Html.LabelFor(x => x.DtNasc)
      </div>

      <div>
        @Html.EditorFor(x => x.DtNasc)
      </div>

      <div>
        <input type="submit" value="Enviar" />
      </div>

    </fieldset>
}
